@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Participantes</h3>


<address>
    <strong>Agustina Carozzo:</strong>   <a href="mailto:agustinacarrozzo21@gmail.com">agustinacarrozzo21@gmail.com</a><br />
    <strong>Victoria Martinez Marsico:</strong>   <a href="mailto:vickymartinezmarsico@gmail.com">vickymartinezmarsico@gmail.com</a><br />
    <strong>Ezequiel Kaplan:</strong>   <a href="mailto:ezequielkpl@outlook.com">ezequielkpl@outlook.com</a><br />
    <strong>Matias Bendayan:</strong>   <a href="mailto:Matiasbendayan@hotmail.com">Matiasbendayan@hotmail.com</a><br />
</address>