@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron">
    <h1>GESTOR DE RESERVAS</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Gestione sus clientes</h2>
        <p>
         Para no perder ningun cliente y tener un correcto seguimiento de los mismos puede ingresar sus datos.
        </p>
        <p><a class="btn btn-default" href="https://localhost:44384/Clientes">Vealos aquí &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestione sus mesas</h2>
        <p>Puede seleccionar numero y valor de la reserva</p>
        <p><a class="btn btn-default" href="https://localhost:44384/Mesas">Vealos aquí &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Gestione sus reservas</h2>
        <p>Resve las mesas para un cliente en especifico en una fecha en especifico para llevar una mejor administracion.</p>
        <p><a class="btn btn-default" href="https://localhost:44384/Reservas">Vealos aquí &raquo;</a></p>
    </div>
</div>